.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: darkslateblue;
  color: white;
  font-size: 30px;
}

.Instructions {
  display: flex;
  align-items: center;
  background-color: dodgerblue;
  color: white;
  font-size: 20px;
  height: 5vh;
}
