.Gameboard {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex: 1;
}

.Tile {
    height: 12em;
    width: 12em;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: peachpuff;
}
