<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sup Biatch</h1>
    <form method="POST" action="/new">
        <input type="text" id="authorname" name="authorname"><br>
        <input type="text" id="message" name="message"><br>
        <button type="submit">Submit</button>
    </form>
    </ul>
  </body>
</html>