<ul class="sidebar-nav">
    <li>
        <a href="/inventory/">Inventory</a>
    </li>
    <li>
        <a href="/inventory/genres/create">Add Category</a>
    </li>
    <li>
        <a href="/inventory/games/create">Add Game</a>
    </li>
</ul>
